@keyframes animacao_subindo{
    0%{
        margin-top: 100vh;
    }

    75%{
        margin-top: 100vh;
    }

    100%{
        margin-top: 0vh;
    }
}

@keyframes becVisible{
    0%{
        visibility: hidden;
        opacity: 0;
    }

    100%{
        visibility: visible;
        opacity: 1;
    }
}

@keyframes wavemovement{
    0%{
        background-position-x: 0;
    }

    100%{
        background-position-x: 1000px;
    }
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color:whitesmoke;
}

#startactivity{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0.12, 0.12, 0.12, 0.25);
    animation-name: animacao_subindo;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

#adactive{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(15vw + 15vh);
    height: calc(15vw + 15vh);
    background-color: rgba(0.12, 0.12, 0.12, 0.5);
    border-radius: 5%;
    margin: 0;
    padding: 0;
}

#adactive p{
    position: relative;
    top: calc((1vw + 1vh)*(1.5));
    font-family:Arial, Helvetica, sans-serif;
    font-size: calc(0.75vw + 0.75vh);
    color: whitesmoke;
    text-align: center;
}

#adactive p i{
    font-style: normal;
    font-size: calc((0.75vw + 0.75vh)*1.5);
}

#adactive button{
    position: relative;
    top: calc((1vw + 1vh)*(3));
    width: calc((1vw + 1vh)*10);
    height: calc((1vw + 1vh)*3);
    background-color:rgba(0.12, 0.12, 0.12, 0.25);
    border-style:hidden;
    color: whitesmoke;
    font-size: calc(0.75vw + 0.75vh);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    transition: ease-in 0.4s;
}

#adactive button:hover{
    background-color:rgba(0.12, 0.12, 0.12, 0.3);
    cursor:pointer;
}

#capa{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#capa h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-family: Impact;
    letter-spacing: 5px;
    font-size: calc((0.7vw + 1vh)*(2.6));
    color:rgb(32, 31, 31);
    animation-name: becVisible;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    transition: ease-in 0.3s;
}

#capa h1:hover{
    cursor:default;
    font-size: calc((0.7vw + 1vh)*(4));
    color: red;
}

#membros_apresentacao{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(32, 31, 31);
}

.wave{
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;
    transform: rotate(180deg);
    animation: wavemovement 0.75s linear infinite;
}
.waveone{
    position: absolute;
    top: 200vh;
    left: 0;
    width: 100%;
    height: 80px;
    background: url(wave1.png);
    background-size: 1000px 100px;
    transform: rotate(180deg);
    animation: wavemovement 1s linear infinite;
}
.wavethree{
    position: absolute;
    top: calc(300vh + 120px);
    z-index: 100;
    left: 0;
    width: 100%;
    height: 80px;
    background: url(wave.png);
    background-size: 1000px 100px;
    transform: rotate(180deg);
    animation: wavemovement 0.75s linear infinite;
}

#membros_apresentacao p{
    font-family: arial;
    color:whitesmoke;
    font-size: calc((0.7vw + 1vh)*(1));
    letter-spacing: 3px;
    text-align: center;
}

#front_page{
    position: relative;
    top: 120px;
    display: flex;
    justify-content:space-evenly;
    width: 100vw;
    height: 100vh;
}

#front_page img{
    width: 100%;
}

#front_page p{
    letter-spacing: 3px;
    text-align:justify;
}

#fright_page{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100vh;
}

#fmiddle_page{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 50px;
    width: 30vw;
    height: 100vh;
}

#flast_page{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100vh;
}

#fright_page h2{
    text-align: center;
}

#fmiddle_page h3{
    text-align: center;
}

#flast_page h2{
    text-align: center;
}

#back_page{
    position: relative;
    top: 120px;
    display: flex;
    justify-content:space-evenly;
    width: 100vw;
    height: 150vh;
    background-color:rgb(32, 31, 31);
    color: whitesmoke;
}

#back_page img{
    width: 100%;
}

#back_page p{
    letter-spacing: 3px;
    text-align:justify;
}

#bright_page{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 170px;
    width: 30vw;
    height: 100vh;
}

#bmiddle_page{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 120px;
    width: 30vw;
    height: 100vh;
}

#blast_page{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 170px;
    width: 30vw;
    height: 100vh;
}

#bright_page h3{
    text-align: center;
}

#bmiddle_page h2{
    text-align: center;
}

#blast_page h3{
    text-align: center;
}

#bibliografia{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 120px;
    width: 100vw;
    height: 200vh;
    color: whitesmoke;
    background-color:rgb(32, 31, 31);
}

#bibliografia h1{
    position: relative;
    text-align: center;
    letter-spacing: 2px;
}

#bibliografia img{
    align-self: center;
    width: calc((1vw+1vh)*30);
    height: calc((1vw+1vh)*30);
}

#bibliografia section{
    position: relative;
    margin: 10vh;
    align-items: center;
    text-align: center;
}
